<md-content>
   	<div layout="row" layout-align="end" layout-margin>
    	<p flex>Recommended for me</p>
   		<md-icon md-font-icon="fa-arrow-left" class="fa" style="color:gray"></md-icon>
   		<md-icon md-font-icon="fa-arrow-right" class="fa"></md-icon>
   	</div>
   	<div style="overflow: hidden;height:170px;margin-bottom:20px">
   		<div style="width:100px;height:150px;background-color:#ff0000;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ff0000;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ff0000;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ff0000;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ff0000;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ff0000;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ff0000;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ff0000;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ff0000;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ff0000;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ff0000;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ff0000;margin:10px;float:left"></div>
   	</div>
   	<div layout="row" layout-align="end" layout-margin>
    	<p flex>My collection</p>
   		<md-icon md-font-icon="fa-arrow-left" class="fa" style="color:gray"></md-icon>
   		<md-icon md-font-icon="fa-arrow-right" class="fa"></md-icon>
   	</div>
   	<div style="overflow: hidden;height:170px;margin-bottom:20px">
   		<div style="width:100px;height:150px;background-color:#ffff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ffff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ffff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ffff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ffff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ffff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ffff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ffff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ffff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ffff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ffff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#ffff00;margin:10px;float:left"></div>
   	</div>
   	<div layout="row" layout-align="end" layout-margin>
    	<p flex>Popular in my network</p>
   		<md-icon md-font-icon="fa-arrow-left" class="fa" style="color:gray"></md-icon>
   		<md-icon md-font-icon="fa-arrow-right" class="fa"></md-icon>
   	</div>
   	<div style="overflow: hidden;height:170px;margin-bottom:20px">
   		<div style="width:100px;height:150px;background-color:#00ff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#00ff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#00ff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#00ff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#00ff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#00ff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#00ff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#00ff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#00ff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#00ff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#00ff00;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#00ff00;margin:10px;float:left"></div>
   	</div>
   	<div layout="row" layout-align="end" layout-margin>
    	<p flex>Popular on comiCollector</p>
   		<md-icon md-font-icon="fa-arrow-left" class="fa" style="color:gray"></md-icon>
   		<md-icon md-font-icon="fa-arrow-right" class="fa"></md-icon>
   	</div>
   	<div style="overflow: hidden;height:170px;margin-bottom:20px">
   		<div style="width:100px;height:150px;background-color:#0000ff;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#0000ff;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#0000ff;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#0000ff;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#0000ff;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#0000ff;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#0000ff;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#0000ff;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#0000ff;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#0000ff;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#0000ff;margin:10px;float:left"></div>
   		<div style="width:100px;height:150px;background-color:#0000ff;margin:10px;float:left"></div>
   	</div>
</md-content>